.homepage-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-primary-50);
  padding: 12px 20px;
}

.logo {
  font-size: var(--text-fs-lg);
  font-weight: var(--font-weight-extrabold);
  color: var(--color-primary-700);
}

.search-bar {
  flex: 1;
  margin: 0 12px;
  padding: 8px;
  border: 1px solid var(--color-gray-800);
  border-radius: var(--radius-sm);
}

.btn-login, .btn-cart {
  background-color: var(--color-secundary-500);
  color: var(--white);
  border: none;
  padding: 8px 14px;  border-radius: var(--radius-sm);
  cursor: pointer;
}

.productos-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}


.producto-card {
  background-color: var(--white);
  border: 1px solid var(--color-gray-800);
  border-radius: var(--radius-md);
  padding: 16px;
  text-align: center;
}

.producto-marca {
  font-size: var(--text-fs-xxs);
  color: var(--color-gray-400);
}

.producto-nombre {
  font-size: var(--text-fs-sm);
  font-weight: var(--font-weight-semibold);
  color: var(--color-primary-900);
}

.producto-precio {
  font-size: var(--text-fs-sm);
  font-weight: var(--font-weight-extrabold);
  color: var(--color-secundary-600);
  margin: 8px 0;
}

.btn-agregar {
  background-color: var(--color-primary-500);
  color: var(--white);
  border: none;
  padding: 8px 14px;
  border-radius: var(--radius-sm);
  cursor: pointer;
}

.btn-agregar:hover {
  background-color: var(--color-primary-700);
}

.homepage-footer {
  margin-top: 40px;
  text-align: center;
  font-size: var(--text-fs-xxs);
  color: var(--color-gray-500);
}
.producto-img {
  width: 150px;    
  height: 150px;   
  object-fit: contain; 
  margin: 0 auto;     
  display: block;
}